# Stop Mac Filesystem Filesystem
.DS_Store

# Stop the Nova Project files from getting published
.nova

# Stop the gitignore file from being published
.gitignore

# Stop the build file being published
buildx.sh
.venv
.vscode
GivTCP/__pycache__
./givenergy_modbus/__pycache__
GivTCP/givenergy_modbus_2
GivTCP/asyncclient.py
GivTCP/testdata.json
.dockerignore
.gitattributes
GivTCP/settings.py
MQTT_TEST.py
REST_TEST.py
test.py

# Ignore frontend
node_modules
.idea
settings.py